{{ define "main" }}
  <section id="about">
  {{ if isset .Site.Params "social" }}
      <p>Liens utiles :
      {{ $length := (len .Site.Params.social) }}
      {{ range $index, $elem := .Site.Params.social}}
        <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}">
          <i class="{{ lower $elem.name }}"></i>
        </a>
        {{ if (lt (add $index 2) $length) }}
          {{- print " , " -}}
        {{ else if (lt (add $index 1) $length) }}
          {{- print " et " -}}
        {{ else }}
          {{- print "." -}}
        {{ end }}
      {{ end }}
      </p>
  {{ end }}
  </section>

  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="content" itemprop="articleBody">
          {{ .Content }}
      </div>
  </article>
{{ end }}
